[report]
omit =
    *google*
    *yaml*
    *webtest*
    *jinja2*
    *Crypto*
    *email*
    *django*
    *webob*
    *wsgiref*
    *json*
    *encodings*
    *uu*
    *urllib2*
    *subprocess*
    *sqlite3*
    *mime*
    *smtplib*
    *rfc822*
    *quopri*
    *numbers*
    *io*
    *i18n_utils*
    *httplib*
    *htmlentitydefs*
    *hmac*
    *gzip*
    *dummy_thread*
    *decimal*
    *contextlib*
    *cgi*
    *calendar*
    *SocketServer*
    *SimpletHTTPServer*
    *Cookie*
    *BaseHTTPServer*
    *appengine_config*
    *myenv*