{% extends "base.html" %}
{% load i18n %}
{% block login %}
<div class="row">
<div class="span12">
<form action="/User/Login" method="post" name="Login">
	<legend>
		Members login<br>
		<label><a href="/User/Register">{% trans "Not a member? register now" %}</a></label>
	</legend>
	<label>Email</label>
	<input type="email" name="email" value="Your Name"/>
	<label>Password</label>
	<input type="password" name="password" value="password"/>
	<label class="checkbox">
      <input type="checkbox"> Remember me
    </label>
	<input type="submit" name="submit" class="btn" value="Login" />
</form>
</div>
</div>
{% endblock %}