{% extends "base.html" %}
{% load i18n %}
{% block login %}
<h2> Members login</h2> 
<form action="/User/Login" method="post" name="Login">
	<input type="email" name="email" value="Your Name" size="12" onblur="if (value == '') {value = 'Your Name'}" onfocus="if (value == 'Your Name') {value =''}" />
	<input type="password" name="password" value="password" size="12" onblur="if (value == '') {value = 'password'}" onfocus="if (value == 'password') {value =''}"  />
	<label><a href="/User/Register">{% trans "register now" %}</a></label>
	<input type="submit" name="submit" class="button" value="" />
 </form>
{% endblock %}