{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
<div class="span12">
<form action="/User/Register" method="post" name="Login">
	<legend>
		{% trans "Register now" %}<br>
		<label><a href="/User/Login">{% trans "Already signed up? log in now" %}</a></label>
	</legend>
	<label>{% trans "Email" %}</label>
	<input type="email" name="email" value=""/>
	<label>{% trans "Password" %}</label>
	<input type="password" name="password" value=""/>
	<label class="checkbox">
      <input type="checkbox">{% trans "Remember me" %}
    </label>
	<input type="submit" name="submit" class="btn" value="{% trans "Register" %}" />
</form>
</div>
</div>
{% endblock %}