<!DOCTYPE html>
<html>
  <head>
  	<meta name ="viewport" content ="initial-scale = 1.0, user-scalable = no">
  	<style>
  		#container{
  			width: 250px;
  			margin: 0 auto;
  			}
  		input{
  			width: 250px;
  			height: 25px;
  			font-size:18px;
  			-webkit-border-radius: 5px;
  		}
  		input#submit{
  			width: 80px;
  			height: 30px;
  		}
  	</style>
  	<script type="text/javascript"> 
        //<![CDATA[
        var input  = document.getElementById('guid');
        input.focus();
        </script>
  </head>
  <body>
  	<div id="container">
        	<form action="{{ targetURL }}" method="post">
        		<label for="guid">Guid</label><br />
        		<input type="text" id="guid" name="guid" value="123">
        		<br /><br />
        		<label for="barcode">Barcode</label><br />
        		<input type="tel" id="barcode" name="barcode" autofocus="autofocus">
        		<br /><br />
        		<input type="hidden" id="returnURL" name="returnURL" value="/">
        		<input type="submit" value="Scan" id="submit">
        	</form>
        </div>
  </body>
</html>                                          
