Hi,

You get this email because someone registered at shopper.appengine.whatevernamethisservicewillhave.com with this email. If it was not you please disregard this email.

If it was you, please click on the following URL:

{{url}}{{code}}

Cheers,

Shopper team