<!DOCTYPE html>
<html>
  <body>
  	<form action="#" methid="get">
		<label for="Search field">Search</label><br />
		<input type="text" id="query" name="query" value="" autofocus="autofocus">
		<input type="submit" value="Search" id="search">
    	</form>
    	<a href="Products?action=new">New</a><br>
    	<br>
    	{% if results %}
    		{% for barcode, name in results.iteritems %}
    			<a href="Products?barcode={{ barcode }}">{{ name }}</a>
    		{% endfor %}
    	{% endif %}
    	
    	{% if product %}
		<form action="#" method="post">
			<label for="Product name">Product name</label><br />
			<input type="text" id="name" name="name" value="{{ name }}" size="100">
			<br /><br />
			<label for="barcode">Barcode</label><br />
			<input type="tel" id="barcode" name="barcode" value="{{ barcode }}" size="20">
			<br /><br />
			<input type="submit" value="Store" id="submit">
		</form>
	{% endif %}
  </body>
</html>                                          
