{% extends "base.html" %}
{% block content %}
<!-- Modal list item -->
<div id="modal-list-item" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add item to list</h3>
  </div>
  <div class="modal-body">
  	<form id="modal-form" class="form-horizontal" action="/Lists/{{ list_id }}" method="post">
  		<fieldset>
  		<div class="control-group">
			<label class="control-label">Product</label>
			<div class="controls">
				<input type="text" id="product-query" name="description" autofocus="autofocus" autocomplete="off" data-provide='typeahead'>
			</div>
			<label class="control-label">Quantity</label>
			<div class="controls">
				<input type="text" name="quantity" placeholder="1" value="1">
			</div>
  		</div>
  		</fieldset>
  	</form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input type="submit" id="modal-form-submit" class="btn btn-primary" value="Add">
  </div>
</div>

<!--  Page -->
  	<div class="row">
  		<div class="span3"><h3>{{ shopping_list.name }}</h3></div>
  		<div class="span1">
  			<a class="btn btn-primary" data-toggle="modal" data-target="#modal-list-item"><i class="icon-plus icon-white"></i> Add</a>
  		</div>
  	</div>
	
  	<table border=1>
  	<tr>
  	<td>Description</td>
  	<td>Quantity</td>
  	</tr>
  	{% for item in list_items %}
  		<tr>
	  		<td>{{item.description}}</td>
	  		<td>{{item.quantity}}</td>
  		</tr>
  	{% endfor %}
  </body>
</html>                                          
{% endblock %}
{% block javascript %}
	<script>
		$(function() {
			var modalShown = false;
			$(document).ready(function() {
				$(document).keypress(function(e){
				 var e=window.event || e
				 if (String.fromCharCode(e.charCode) == 'a') {
				 	$('#modal-list-item').modal();
				 }
				 if (e.charCode == 13) {
				 	if (modalShown) {
				    	$('#modal-form').submit();
					 	$('#modal-list-item').modal('hide');
				    }
				 }
				})
				$('#modal-list-item').on('shown', function () {
					modalShown = true;
				  $('#product-query').focus();
				})				
				$('#modal-list-item').on('hidden', function () {
					modalShown = false;
				  $('#product-query').val('');
				})				
				 $('#modal-form-submit').on('click', function(e){
					    e.preventDefault();
					    $('#modal-form').submit();
				  });

				  $("#product-query").typeahead({
					      minLength: 1,
					      source: function(query, process) {
					          $.get('/Products', { q: query.toLowerCase() }, function(data) {
									var newData = [];
					    			$.each(data, function(){
					        			newData.push(this.name);
					    			});	                
					    			process(newData);
				          	  });
				      	  }
				    });
			});
		})
	</script>
{% endblock %}
	