{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="span12">
<form id="resend-form" action="/User/Verify" method="post" name="Verify">
		<legend>
			{% if error %}
				{% trans %}INVALID_VERIFICATION_CODE{% endtrans %}
				<label>{% trans %}RESEND_EMAIL_LABEL{% endtrans %}</label>
			{% else %}
				{% trans %}RESEND_EMAIL_LABEL{% endtrans %}
			{% endif %}
		</legend>
		<div class="control-group">
			<label class="control-label" for="email">{% trans%}EMAIL_EDIT_LABEL{% endtrans %}</label>
			<div class="controls">
				<input type="email" name="email" id="email" value="" required/>
			</div>
		</div>
		<input type="submit" id="submit" name="submit" class="btn" value="{% trans %}SEND_BUTTON{% endtrans %}"/>
		<br><br>
		<div id = "alert_placeholder"></div>
</form>
</div>
</div>

{% endblock %}
{% block javascript %}
    <script src="/stylesheets/bootstrap/js/dist/jquery.validate.min.js"></script>
    <script src="/stylesheets/bootstrap/js/localization/{% trans %}MESSAGES_JS{% endtrans %}"></script>
    <script src="/js/verify.js"></script>
    {% if errormessage %}
	<script>
    		bootstrap_alert.warning('{{errormessage}}');
    </script>
    {% endif %}
    
{% endblock %}