{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="span12">
{% if send %}
<form id="resend-form" action="/User/Verify" method="post" name="Verfy">
	<legend>
		{% if error %}
			{% trans %}Invalid verification code.{% endtrans %}
			<label>{% trans %}Enter you email address to resend{% endtrans %}</label>
		{% else %}
			{% trans %}Enter you email address to resend{% endtrans %}
		{% endif %}
	</legend>
	<div class="control-group">
		<label class="control-label" for="email">{% trans%}Email{% endtrans %}</label>
		<div class="controls">
			<input type="email" name="email" id="email" value="" required/>
		</div>
	</div>
	<input type="submit" id="submit" name="submit" class="btn" value="{% trans %}Send{% endtrans %}"/>
	<br><br>
	<div id = "alert_placeholder"></div>
</form>

{% else %}
<h2>{% trans %}Thank you!{% endtrans %}</h2>
{% endif %}
</div>
</div>
{% endblock %}

{% block javascript %}
    <script src="/stylesheets/bootstrap/js/dist/jquery.validate.min.js"></script>
    <script src="/stylesheets/bootstrap/js/localization/{% trans %}messages js file{% endtrans %}"></script>
    <script src="/js/verify.js"></script>
    {% if errormessage %}
	<script>
    		bootstrap_alert.warning('{{errormessage}}');
    </script>
    {% endif %}
    
{% endblock %}